#scrollButton{
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    cursor: pointer;
    background-color: rgba(227, 212, 128, 0.705);
    color: white;
    border-radius: 12px;
    padding: 10px 20px;
    font-size: 18px;
}

#scrollButton:hover{
    background-color: orange;
}

.hidden-elements{
    visibility: hidden;
}

.images{
    max-width: 100%;
    height: auto;
    display: flex;
}

.videos{
    max-width: 100%;
    height: auto;
    display: flex;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

h1{
    position: static;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 44px;
    text-align: center;

    color: #2F4858;
}

h2{
    position: static;
    margin-top: 125px;
    margin-bottom: 50px;

    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    
    color: #2F4858;
}

ul{
    list-style-type: none;
}

li{
    text-decoration: none !important;
}

.list-elements{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #060606;
}

#list-element-1{
    margin-right: 50px;
    text-decoration: none;
    color: #060606;
}

#list-element-2{
    margin-right: 50px;
    text-decoration: none;
    color: #060606;
}

#list-element-3{
    margin-right: 50px;
    text-decoration: none;
    color: #060606;
}

#list-element-4{
    margin-right: 50px;
    text-decoration: none;
    color: #060606;
}

#list-element-5{
    margin-right: 50px;
    text-decoration: none;
    color: #060606;
}

#list-element-6{
    margin-right: 50px;
    text-decoration: none;
    color: #060606;
}

#lang{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #060606;
}

#sparkle-video{
    position: static;
    width: 100%;
}

#play-button{
    position: absolute;
    top: 400px;
    left: 55%;
    margin-left: -100px;
}

#ellipse{
    position: absolute;
    top: 420px;
    left: 55%;
    margin-left: -80px;
}

.img-wrap-container{
    position: static;
    display: flex;
    //flex-wrap: nowrap;
    width: 100%;
    flex-direction: rows;
    overflow: hidden;
}

.img-wrap-1{
    display: flex;
    flex-grow: 1;
}

.img-wrap-2{
    display: flex;
    flex-grow: 1;
}

.img-wrap-3{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}


.img-wrap-4{
    display: flex;
    flex-grow: 1;
}

/*.videos::before{
    top: -10px;
    height: 60px;
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background: url(../img/ripped 6 7.png);
}*/

/*.images::before {
    top: -10px;
    height: 60px;
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background: url(../img/ripped 6 7.png);
}*/

/*.images::after {
    bottom: -10px;
    height: 55px;
    background: url(../img/ripped 6 8.png);
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-position: bottom;
}*/

#text{
    position: static;
    margin-top: 75px;
    margin-bottom: 75px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;

    color: #2F4858;
}

.questions{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.question-wrap-1{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.question-wrap-2{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttons{
    position: static;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    align-items: center;
    text-align: center;
    
    color: #FFFFFF;
    border-radius: 12px;
    padding: 10px 20px;
}

#button-1{
    background-color: orange;
}

#button-2{
    background-color: orange;
}

.form{
    margin-top: 150px;
}

.form-elements{
    display: flex;
    justify-content: center;
}

.input-first-line{
    display: flex;
    flex-direction: row;
    row-gap: 50px;
    margin-bottom: 10px;
}

.input-second-line{
    display: flex;
    margin-bottom: 10px;
}

.input-third-line{
    display: flex;
}


#input-name{
    background: rgba(196, 196, 196, 0.4);
    border-radius: 6px;
    width: 12%;
    height: 25px;
    margin-right: 5px;
}

#input-email{
    background: rgba(196, 196, 196, 0.4);
    border-radius: 6px;
    width: 12%;
    height: 25px;
}

#input-tel{
    width: 25%;
    height: 25px;

    background: rgba(196, 196, 196, 0.4);
    border-radius: 6px;
}

#input-text{
    width: 25%;
    height: 150px;

    background: rgba(196, 196, 196, 0.4);
    border-radius: 6px;
}

#info{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;

    color: #2F4858;
}

#agreement{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;

    color: #2F4858;
}

#input-checkbox{
    display: inline-block;

    background: #E7E7E7;
    border-radius: 3px;
}

#button-3{
    display: block;
    background-color: #EC9706;
    margin-top: 30px;
}

#bottom{
    margin-top: 60px;
    height: 300px;

    background: #FFCB66;
}

.bottom::before {
    top: -10px;
    height: 60px;
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background: url(../img/ripped 6 7.png);
}

.logo-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.logo-container-inner-1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-grow: 1;
}

.logo-container-inner-2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-grow: 1;
}

#footer{
    background: #2F4858;
}

.footer::before {
    top: -10px;
    height: 60px;
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background: url(../img/ripped 6 7.png);
}

.footer-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footer-list-elements{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: left;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;

    color: #FFFFFF;
}

#list-3{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: left; 

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;

    color: #FFFFFF;
}

#list-4{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: right;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: right;

    color: #FFFFFF;
}

#copyrights{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;

    color: #FFFFFF;
}

#media-logoes{
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
}

.media-logoes{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-grow: 1;
}

#privacy-agreement{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: right;

    color: #FFFFFF;
}

@media screen and (max-width: 767px){

#lang{
    visibility: hidden;
}

}

@media screen and (max-width: 480px){

#header-list{
    visibility: hidden;
}    
    
#lang{
    visibility: hidden;
}

#hidden-icon{
    visibility: hidden;
}

.questions{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.input-first-line{
    display: flex;
    flex-direction: column;
}

#footer-list{
    visibility: hidden;
}

#bank-details{
    visibility: hidden;
}

#img-wrap-3{
    order: 1;
}

#img-wrap-4{
    order: 2;
}

#img-wrap-1{
    order: 3;
}

#img-wrap-2{
    order: 4;
}

.questions{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.input-first-line{
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    margin-bottom: 10px;
}

.logo-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

}










