.images{
    max-width: 100%;
    height: auto;
    //float: left;
    //display: inline-block;
}

header{
    white-space: nowrap;
    position: static;
    margin-right: 50px;
    margin-left: 50px;

    background: #FFFFFF;
}

.header-elements{
   display: inline-block;
}

.list-elements{
    position: static;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;

    color: #060606;
}

#list-element-1{
    margin-left: 50px;
    margin-right: 50px;
}

#list-element-2{
    margin-right: 50px;
}

#list-element-3{
    margin-right: 50px;
}

#list-element-4{
    margin-right: 50px;
}

#list-element-5{
    margin-right: 50px;
}

#list-element-6{
    //width: 188px;
    //height: 29px;
    //left: 1036px;
}

ul{
    list-style-type: none;
}

/*.img-border{
    position: absolute;
    //display: block;
}*/

#play-button{
    position: absolute;
    //display: grid;
    //place-items: center;
    top: 400px;
    left: 50%;
    margin-left: -100px;
    //background-color: white;
}

#text{
    position: static;
    margin-top: 75px;
    margin-bottom: 75px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    //line-height: 22px;
    text-align: center;

    color: #2F4858;
}

.img-container{
    font-size: 0;
}

/*#ripped-top{
    position: absolute;
}

#ripped-bottom{
    position: absolute;
}*/

/*#img-meita{
    position: relative;
    bottom: 170px;
}

#img-alina{
    position: relative;
    right: 298px;
    top: 15px;
}

#img-anda{
    position: relative;
    bottom: 250px;
    left: 400px;
}*/

/*.questions{
    clear: both;
}*/

#question-1{
    position: static;
    
    //left: 220px;
    //top: 1731px;

    margin-left: 220px;
    margin-top: 1731px;
    
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    
    color: #2F4858;
}

#question-2{
    position: static;

    margin-left: 698px;
    margin-top: 1731;
    
    //left: 698px;
    //top: 1731px;
    
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    
    color: #2F4858;
}

.buttons{
    position: static;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    //line-height: 22px;
    align-items: center;
    text-align: center;
    
    color: #FFFFFF;
    border-radius: 12px;
    padding: 10px 20px;
}

#button-1{
    //position: static;
    
    //left: 300px;
    //top: 1810px;

    margin-left: 300px;
    margin-top: 10px;
    
    //display: inline-block;
    background-color: orange;
}

#button-2{
    //position: static;
    
    //left: 832px;
    //top: 1810px;

    margin-left: 832px;
    margin-top: 10px;
    
    
    //display: inline-block;
    background-color: orange;
    
}

#headline-1{
    position: static;
    //width: 819px;
    //height: 48px;
    left: 274px;
    top: 2010px;

    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 44px;
    text-align: center;

    color: #2F4858;
}

#input-name{
    position: static;
    margin-left: 377px;
    //margin-top: 2113px;

    background: rgba(196, 196, 196, 0.4);
    border-radius: 6px;
}

#input-email{
    position: static;
    left: 693px;
    //top: 2113px;

    background: rgba(196, 196, 196, 0.4);
    border-radius: 6px;
}

#input-tel{
    display: block;
    position: static;

    margin-left: 377px;
    margin-top: 20px;

    background: rgba(196, 196, 196, 0.4);
    border-radius: 6px;
}

#input-text{
    display: block;
    position: static;

    margin-left: 377px;
    margin-top: 20px;

    background: rgba(196, 196, 196, 0.4);
    border-radius: 6px;
}

#info{
    position: static;
    margin-left: 377px;
    margin-top: 10px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;

    color: #2F4858;
}

/*#label{
    position: static;

    //margin-left: 10px;
    //margin-top: 2526px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;

    color: #2F4858;
}*/

#agreement{
    position: static;
    display: inline-block;
}

#input-checkbox{
    position: static;
    display: inline-block;

    margin-left: 380px;
    //margin-top: 2529px;

    background: #E7E7E7;
    border-radius: 3px;
}

#button-3{
    //position: static;
    
    margin-left: 592px;
    margin-top: 15px;


    display: block;
    background-color: #EC9706;
}

#headline-2{
    position: static;

    margin-left: 50px;
    margin-top: 50px;

    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    text-align: center;

    color: #2F4858;
}

#bottom{
    position: static;

    //left: 0px;
    //top: 2827px;

background: #FFCB66;
}

#footer{
    position: static;
    left: 0%;
    right: 0%;
    top: 13.74%;
    bottom: 0%;

    background: #2F4858;
}